body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.userHead {
  z-index: 1;
  position: sticky !important;
  top: 9.6vh;
}

.tblUser {
  margin-bottom: 2vh;
  text-align: center;
  width: 95vw;
  padding: 1%;
}

.tblUser thead {
  z-index: 1000 !important;
  position: sticky;
  top: 18.83vh;
  background-color: white !important;
}

.tblCity td {
  padding: 0.2% !important;
}

.tblCity th {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

.tblCity td:nth-child(2) {
  width: 27%;
}

.tblCity td:nth-child(3) {
  width: 28%;
}

.tblCity td:nth-child(4) {
  width: 25%;
}

.tblCity input {
  font-size: 90%;
}

.tblCity select {
  padding: 2% !important;
  height: 4.9vh !important;
  font-size: 90% !important;
}

.tblCity thead {
  z-index: 0 !important;
}

.tblTodo {
  width: 60vw !important;
}

.tblTodo th:first-child,
.tblTodo th:nth-child(3) {
  width: 15% !important;
}

.tblTodo th:nth-child(2) {
  width: 40% !important;
}

.tblTodo th:nth-child(4) {
  width: 12% !important;
}

.tblPhotos {
  width: 70vw !important;
}

.tblPhotos th:first-child {
  width: 7% !important;
}

.tblPhotos th:nth-child(2),
.tblPhotos th:nth-child(3),
.tblPhotos th:nth-child(4) {
  width: 22% !important;
}

.tblAlbums {
  width: 50vw !important;
}

.tblAlbums th:first-child,
.tblAlbums th:nth-child(3) {
  width: 15% !important;
}

.tblAlbums th:nth-child(2) {
  width: 45% !important;
}

.navLink {
  font-weight: 700;
  font-size: large;
  text-decoration: none;
  color: wheat;
  margin-right: 50px;
}

.navLink:hover {
  text-decoration: none !important;
  color: #ffc107 !important;
}

.loader-spin {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 20%;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader-spin span {
  margin-right: 2%;
}

.loader-spin h2 {
  font-weight: 100;
  color: white;
}